.header-container {
  background-color: #9a8c98;
  max-height: 100px;
  display: flex;
  flex-direction: row;
}

.header-container-secondary {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
